In [78]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import hvplot.pandas
from pathlib import Path
from numpy import mean
from numpy import std
from numpy import cov
from scipy.stats import pearsonr
import requests
import urllib.request
import json
import pprint
from dotenv import load_dotenv

%matplotlib inline

In [92]:
load_dotenv()
access_token = os.getenv("CQ_API_KEY")
headers = { 'Authorization': 'Bearer ' + access_token }

In [90]:
URL = "https://api.cryptoquant.com/v1/btc/exchange-flows/netflow?exchange=all_exchange&window=day&from=20150101&limit=100"
response = requests.get(URL, headers=headers)

netflow_data = response.json()
netflow_df = pd.DataFrame(data=netflow_data['result']['data'])
netflow_df['date'] = pd.to_datetime(netflow_df['date'])
netflow_df['netflow_total'] = netflow_df['netflow_total'].astype(str).astype('float64')
netflow_df = netflow_df.dropna()

In [91]:
URL2 = "https://api.cryptoquant.com/v1/btc/market-data/price-usd?window=day&from=20150101&limit=100"
response2 = requests.get(URL2, headers=headers)

price_data = response2.json()

price_df = pd.DataFrame(data=price_data['result']['data'])
price_df = price_df.drop(['price_usd_high','price_usd_low','price_usd_open'], axis = 1)
price_df['date'] = pd.to_datetime(price_df['date'])
price_df['price_usd_close'] = price_df['price_usd_close'].astype(str).astype('float64')
price_df = price_df.dropna()

In [82]:
covariance = cov(netflow_df['netflow_total'],price_df['price_usd_close'])
corr, _ = pearsonr(netflow_df['netflow_total'], price_df['price_usd_close'])
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: 0.213

In [85]:
def pearsons_coefficient(series1,series2):
    
  #Returns pearsons coefficient (int) between 2 dataframes columns.

       # Parameters: 
            ## series1 (object): First series to compare
            ## series2 (object): Second series to compare
            ## df1_column (object): Series from df1 we wish to compare
            ## df2_column (object): Series from df2 we wish to compare

    

    covariance = cov(series1,series2)
    corr, _ = pearsonr(series1,series2)
    print('Pearsons correlation: %.3f' % corr)
    return corr

In [86]:
test_df = pearsons_coefficient(netflow_df['netflow_total'],price_df['price_usd_close'])

Pearsons correlation: 0.213

In [105]:
def get_onchain_data(ticker,fromdate,limit):
    '''
    Returns on-chain data (Netflow)n in new df
        Parameters:
            ticker (string) = Ticker for Desired Coin
            fromdate (string) = Starting date of period desired
            limit (int) = number of data points     
    '''
    #Initialize dotenv function, pull API key, build URL
    headers = {'Authorization': 'Bearer ' + access_token}
    URL = f'https://api.cryptoquant.com/v1/{ticker}/exchange-flows/netflow?exchange=all_exchange&window=day&from={fromdate}&limit={limit}'

    # Initialize Dictionary
    response = requests.get(URL, headers=headers)
    
    netflow_data = response.json()

    #Transform to Dataframe and adjust data type
    netflow_df = pd.DataFrame(data=netflow_data['result']['data'])
    netflow_df['date'] = pd.to_datetime(netflow_df['date'])
    netflow_df['netflow_total'] = netflow_df['netflow_total'].astype(str).astype('float64')
    return netflow_df

In [107]:
#test1_df = get_onchain_data("btc","20190101","100")

#print(test1_df)

In [144]:
URL3 = "https://api.cryptoquant.com/v1/btc/market-data/capitalization?window=day&from=20191001&limit=100"
response3 = requests.get(URL3, headers=headers)

mvrv_data = response3.json()

mvrv_data = pd.DataFrame(data=mvrv_data['result']['data'])
m_cap_stdv = np.std(mvrv_data['market_cap'])

mvrv_data['mvrv_score'] = (mvrv_data['market_cap']/mvrv_data['realized_cap'])
mvrv_data = mvrv_data.drop(['average_cap', 'delta_cap', 'market_cap','realized_cap','thermo_cap'], axis = 1)


mvrv_data.head()

         date  mvrv_score
0  2021-01-21    2.429670
1  2021-01-20    2.796105
2  2021-01-19    2.833096
3  2021-01-18    2.905155
4  2021-01-17    2.855650

In [145]:
def get_mvrv_data(ticker,fromdate,limit):
    '''
    Returns marketcap data in new df
        Parameters:
            ticker (string) = Ticker for Desired Coin
            fromdate (string) = Starting date of period desired
            limit (int) = number of data points     
    '''
    #Initialize dotenv function, pull API key, build URL
    headers = {'Authorization': 'Bearer ' + access_token}
    URL3 = f'https://api.cryptoquant.com/v1/{ticker}/market-data/capitalization?window=day&from={fromdate}&limit={limit}'
            
    # Initialize Dictionary
    response3 = requests.get(URL3, headers=headers)
    
    mvrv_data = response3.json()

    mvrv_data = pd.DataFrame(data=mvrv_data['result']['data'])
    m_cap_stdv = np.std(mvrv_data['market_cap'])
    mvrv_data['mvrv_score'] = (mvrv_data['market_cap']/mvrv_data['realized_cap'])
    mvrv_data = mvrv_data.drop(['average_cap', 'delta_cap', 'market_cap','realized_cap','thermo_cap'], axis = 1)
    
    
    return mvrv_data

In [149]:
test1_df = get_mvrv_data("btc","20190101","100000")

test1_df

           date  mvrv_score
0    2021-01-21    2.429670
1    2021-01-20    2.796105
2    2021-01-19    2.833096
3    2021-01-18    2.905155
4    2021-01-17    2.855650
5    2021-01-16    2.874996
6    2021-01-15    2.946355
7    2021-01-14    3.154689
8    2021-01-13    3.041982
9    2021-01-12    2.783554
10   2021-01-11    2.915585
11   2021-01-10    3.155913
12   2021-01-09    3.345138
13   2021-01-08    3.436897
14   2021-01-07    3.419404
15   2021-01-06    3.275032
16   2021-01-05    3.071400
17   2021-01-04    2.930912
18   2021-01-03    3.064849
19   2021-01-02    3.034638
20   2021-01-01    2.809810
21   2020-12-31    2.797120
22   2020-12-30    2.811698
23   2020-12-29    2.690945
24   2020-12-28    2.694920
25   2020-12-27    2.669859
26   2020-12-26    2.719759
27   2020-12-25    2.551302
28   2020-12-24    2.456752
29   2020-12-23    2.423243
..          ...         ...
722  2019-01-30    0.660941
723  2019-01-29    0.651469
724  2019-01-28    0.655889
725  2019-01-27    0.675794
726  2019-01-26    0.679097
727  2019-01-25    0.680366
728  2019-01-24    0.682146
729  2019-01-23    0.677910
730  2019-01-22    0.680449
731  2019-01-21    0.670460
732  2019-01-20    0.671095
733  2019-01-19    0.699569
734  2019-01-18    0.685660
735  2019-01-17    0.691725
736  2019-01-16    0.684733
737  2019-01-15    0.678787
738  2019-01-14    0.695176
739  2019-01-13    0.665322
740  2019-01-12    0.685124
741  2019-01-11    0.688657
742  2019-01-10    0.682437
743  2019-01-09    0.750870
744  2019-01-08    0.750205
745  2019-01-07    0.752712
746  2019-01-06    0.760089
747  2019-01-05    0.713715
748  2019-01-04    0.718924
749  2019-01-03    0.714536
750  2019-01-02    0.731668
751  2019-01-01    0.720523

[752 rows x 2 columns]